.d0, .d1, .d2, .d3, .d4, .d5{
    float: left;
    width: 130px;
    height: 130px;
    border: 3px solid black;
    margin-left: 50px;
}

.d0{
    background: linear-gradient(to top, red, blue);
}

.d1{
    background: repeating-linear-gradient(to bottom left, red 4% 8%, blue 8% 12%);
}

.d2{
    background: radial-gradient(at center, rgb(208, 255, 0), green);
}

.d3{
    background: repeating-radial-gradient(at center, yellow 10% 20%, green 20% 30%);
}

.d4{
    background: radial-gradient(at center, rgb(115, 255, 0) 10%, green 40%, transparent 100%),
    linear-gradient(to top, purple, blue);
}

.d5{
    background: linear-gradient(to right, rgb(187, 255, 0) 15%, green 50%, transparent 100%),
    linear-gradient(to bottom, black 0% 5%, white 65%, blue 74% 80%, rgb(255, 0, 234) 90%);
}

