.h0{
    stroke: red;
    stroke-width: 3px;
    fill: rgb(4, 0, 255);
}

.h1{
    stroke: rgb(2, 0, 102);
    stroke-width: 4px;
    fill: rgb(243, 239, 26);
}

.h2{
    stroke: red;
    stroke-width: 2px;
    fill: rgb(177, 22, 22);
}

.h3{
    stroke: blue;
    stroke-width: 5px;
    fill: cyan;
}

.h4{
    stroke: rgb(0, 255, 34);
    stroke-width: 1px;
    fill: rgb(18, 80, 23);
}