h1, h2, h3, h4, h5, h6
{
    color: rgb(128, 8, 112);
    font-family: 'Monotype corsiva';
}

.point1, .point2, .point3{
    font-family: 'Times New Roman';
}

.point1{
    font-size: 18pt;
    color: red;
}

.point2{
    font-size: 20pt;
    color: yellow;
}

.point3{
    color: green;
    font-size: 22pt;
}